<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons :: head}"></head>
<body class="bg-light">

<div th:replace="~{commons :: navbar}"></div>


<!-- Login Form -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4">
                <h2 class="text-center mb-4 fw-bold">Login</h2>
                <form th:action="@{/users/register}" th:method="post" th:object="${userRegisterDTO}">

                    <!-- Email -->
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" th:field="*{email}" required>
                        <small class="text-danger" th:if="${#fields.hasErrors('email')}"
                               th:errors="*{email}"></small>
                    </div>
                    <!-- Password -->
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" th:field="*{password}" required>
                    </div>


                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>