<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons :: head}"></head>
<body>

<!-- Navbar -->
<div th:replace="~{commons :: navbar}"></div>

<div class="container">
    <h2>Amend Recipe</h2>

    <form th:action="@{/recipe/update/{id}(id=*{id})}" th:object="${recipe}" th:method="PATCH">


        <label for="title">Recipe Title:</label>
        <input type="text" id="title" name="title" th:field="*{title}" th:errorclass="is-invalid" max="10">

        <label th:for="category">Category:</label>
        <select id="category" name="category" class="form-control">
            <option value="" disabled selected>Select category</option>
            <option th:each="cat : ${categories}"
                    th:value="${cat}"
                    th:text="${cat}"></option>
        </select>

        <label th:for="description">Description:</label>
        <input type="text" id="description" name="description" th:field="*{description}"
               th:errorclass="'is-invalid alert-danger'" required/>
        <small class="invalid-feedback text-danger">Error 2</small>


        <label for="instructions">Instructions:</label>
        <input type="text" id="instructions" th:field="*{instructions}" name="instructions" required/>

        <label for="imageUrl">Image URL:</label>
        <input type="text" id="imageUrl" name="imageUrl" required th:field="*{imageUrl}"/>

        <button type="submit" class="submit-btn">Update Recipe</button>
    </form>
</div>

</body>
<div th:replace="~{commons :: footer}"></div>
<div th:replace="~{commons :: scripts}"></div>
</html>
